@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

/* Custom classes */
.custom-width-lg {
  width: max(10vw, 100px);
}

.custom-width-sm {
  width: max(5vw, 40px);
}

.custom-pr {
  padding-right: max(8vw, 10px);
}

.custom-width-2xl {
  width: max(40vw, 250px);
}
